.exitPreviewButton {
  a {
    display: block;
    width: 100%;
    max-width: 720px;
    height: 3.85rem;
    margin: 5rem auto;
    line-height: 3.85rem;
    background: var(--white);
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--black);

    &:hover {
      filter: brightness(0.9);
    }
  }
}
